[submodule "zero-plugins-equip"]
	path = zero-plugins-equip
	url = git@gitee.com:zero-ws/zero-plugins-equip.git
[submodule "zero-energy"]
	path = zero-energy
	url = git@gitee.com:zero-ws/zero-energy.git
[submodule "zero-plugins-extension"]
	path = zero-plugins-extension
	url = git@gitee.com:zero-ws/zero-plugins-extension.git
[submodule "zero-plugins-external"]
	path = zero-plugins-external
	url = git@gitee.com:zero-ws/zero-plugins-external.git
[submodule "zero-core-ams"]
	path = zero-core-ams
	url = https://gitee.com/zero-ws/zero-effect.git
